server/flows_nodered.json
[{"id":"aab2a3eb.554d6","type":"telegram bot","z":"","botname":"Bot1"},{"id":"49fb9358.b6046c","type":"subflow","name":"Temperature Recommendation","info":"","in":[{"x":69,"y":118,"wires":[{"id":"44317eb.fbbce8"}]}],"out":[]},{"id":"dd5c68ec.22a398","type":"function","z":"49fb9358.b6046c","name":"Recommendation","func":"var opts = {\n//   reply_to_message_id: msg.payload.messageId\n};\n\nvar comfortFlag = true;\nif(context.global.summer){\n\tif(msg.payload.insideC >= 23 && msg.payload.insideC <= 25){\n\t\treturn null;\n\t}else{\n\t\tcomfortFlag = false;\n\t}\n}else{\n\tif(msg.payload.insideC >= 20 && msg.payload.insideC <= 24){\n\t\treturn null;\n\t}else{\n\t\tcomfortFlag = false;\n\t}\n}\nif(comfortFlag){\n\treturn null\n}\n\nmsg.payload.content = 'The temperature is NOT in the comfort zone. Out: ' + msg.payload.outsideC + ' In: ' + msg.payload.insideC + '.';\nopts.reply_markup = JSON.stringify({\n\tkeyboard : [\n    ['Turn on air conditioner'], ['Turn on heater'], ['No action']],\n      'resize_keyboard' : true, \n      'one_time_keyboard' : true\n});\n\ncontext.global.keyboard.pendingTempRecommendation = true;\nmsg.payload.options = opts;\nreturn  msg ;","outputs":"1","noerr":0,"x":360,"y":116,"wires":[["2edde638.d1221a"]]},{"id":"44317eb.fbbce8","type":"function","z":"49fb9358.b6046c","name":"Adapter","func":"if(context.global.tempOut === null)\n    return null;\n    \nif(context.global.chatId == -1)\n    return null;\nif(context.global.keyboard.pendingAirQualityRecommendation || context.global.keyboard.pendingTempRecommendation || context.global.keyboard.pendingFeedback)\n    return null;\nmsg = {\n    \"payload\":{\n        \"chatId\" : context.global.chatId,\n        \"type\" : \"message\",\n        \"outsideC\" : context.global.tempOut,\n        \"insideC\" : context.global.tempIn\n    }\n};\nreturn msg;","outputs":"1","noerr":0,"x":180.00003051757812,"y":117.75003051757812,"wires":[["dd5c68ec.22a398"]]},{"id":"2edde638.d1221a","type":"telegram sender","z":"49fb9358.b6046c","name":"","bot":"aab2a3eb.554d6","x":602.0000610351562,"y":116,"wires":[]},{"id":"fc2669f.f03d998","type":"catch","z":"49fb9358.b6046c","name":"","scope":null,"x":316,"y":197,"wires":[["efdc461d.1023b8"]]},{"id":"efdc461d.1023b8","type":"debug","z":"49fb9358.b6046c","name":"","active":true,"console":"true","complete":"payload","x":496,"y":198,"wires":[]},{"id":"aab2a3eb.554d6","type":"telegram bot","z":"","botname":"Bot1"},{"id":"22e8d6fa.dd172a","type":"subflow","name":"Air Quality Recomendation","info":"","in":[{"x":70,"y":107,"wires":[{"id":"6cc4432c.933bbc"}]}],"out":[]},{"id":"e7961ba.f1869e8","type":"function","z":"22e8d6fa.dd172a","name":"Recommendation","func":"if (context.global.airQ === null)\n    return null;\nairQualityPPM = context.global.airQ;\nvar opts = {\n  reply_to_message_id: msg.payload.messageId,\n  reply_markup: JSON.stringify({\n\tkeyboard : [\n    ['Turn on ventilation'], ['Turn off ventilation'], ['No action']],\n      'resize_keyboard' : true, \n      'one_time_keyboard' : true\n  })\n};\n\n// Air Quality Sensor Values\nif(airQualityPPM >= 150){\n    if (airQualityPPM < 200) {\n      msg.payload.content = 'Air quality is not good( '+airQualityPPM+' ). Open the window or turn on the ventilation system.';\n    }\n    else if (airQualityPPM < 300) {\n      msg.payload.content = 'Air quality is bad( '+airQualityPPM+' ). Open the window or turn on the ventilation system.';\n    }\n    else {\n      msg.payload.content = 'Air quality is extremely bad( '+airQualityPPM+' ). There might be gas leak.. Get Out of the building!!!';\n    }\n    context.global.keyboard.pendingAirQualityRecommendation = true;\n    msg.payload.options = opts;\n    return  msg ;\n}\nreturn null;","outputs":"1","noerr":0,"x":346.9999694824219,"y":106,"wires":[["29cee5fc.d6311a"]]},{"id":"6cc4432c.933bbc","type":"function","z":"22e8d6fa.dd172a","name":"Adapter","func":"if(context.global.chatId == -1)\n    return null;\nif(context.global.keyboard.pendingAirQualityRecommendation || context.global.keyboard.pendingTempRecommendation || context.global.keyboard.pendingFeedback)\n    return null;\nmsg = {\n    \"payload\":{\n        \"chatId\" : context.global.chatId,\n        \"type\" : \"message\"\n    }\n};\nreturn msg;","outputs":"1","noerr":0,"x":177,"y":106.75003051757812,"wires":[["e7961ba.f1869e8"]]},{"id":"29cee5fc.d6311a","type":"telegram sender","z":"22e8d6fa.dd172a","name":"","bot":"aab2a3eb.554d6","x":553,"y":105,"wires":[]},{"id":"cba7612c.3458a","type":"catch","z":"22e8d6fa.dd172a","name":"","scope":null,"x":242,"y":188,"wires":[["c8de0445.3721f8"]]},{"id":"c8de0445.3721f8","type":"debug","z":"22e8d6fa.dd172a","name":"","active":true,"console":"true","complete":"payload","x":422,"y":184,"wires":[]},{"id":"aab2a3eb.554d6","type":"telegram bot","z":"","botname":"Bot1"},{"id":"d813e35f.27ec2","type":"subflow","name":"Feeling Message","info":"","in":[{"x":200,"y":83,"wires":[{"id":"9afa91b5.65057"}]}],"out":[]},{"id":"8698c656.796738","type":"telegram sender","z":"d813e35f.27ec2","name":"","bot":"aab2a3eb.554d6","x":698,"y":84.24996948242188,"wires":[]},{"id":"9c9300a0.636d","type":"function","z":"d813e35f.27ec2","name":"feeling message","func":"var opts = {\n//   reply_to_message_id: msg.payload.messageId,\n  reply_markup: JSON.stringify({\n\tkeyboard : [\n    ['Too cold', 'Cold'],\n    ['Great'],\n    ['Warm', 'Too warm']\n\t    ],\n      'resize_keyboard' : true, \n      'one_time_keyboard' : true\n  })\n};\nmsg.payload.content = 'How are you feeling?';\nmsg.payload.options = opts;\ncontext.global.keyboard.pendingFeedback = true;\n\nreturn [ msg ];\n","outputs":"1","noerr":0,"x":477.9999694824219,"y":84.24996948242188,"wires":[["8698c656.796738"]]},{"id":"9afa91b5.65057","type":"function","z":"d813e35f.27ec2","name":"Adapter","func":"if(context.global.chatId == -1)\n    return null;\n    \nif(context.global.keyboard.pendingAirQualityRecommendation || context.global.keyboard.pendingTempRecommendation || context.global.keyboard.pendingFeedback)\n    return null;\n    \nmsg = {\n    \"payload\":{\n        \"chatId\" : context.global.chatId,\n        \"type\" : \"message\"\n    }\n};\nreturn msg;","outputs":"1","noerr":0,"x":319,"y":83,"wires":[["9c9300a0.636d"]]},{"id":"3e7f7566.c1808a","type":"catch","z":"d813e35f.27ec2","name":"","scope":null,"x":329,"y":211,"wires":[["166755af.e998aa"]]},{"id":"166755af.e998aa","type":"debug","z":"d813e35f.27ec2","name":"","active":true,"console":"true","complete":"payload","x":509,"y":216,"wires":[]},{"id":"aab2a3eb.554d6","type":"telegram bot","z":"","botname":"Bot1"},{"id":"4417839.fbbe87c","type":"function","z":"f72ae0e1.08d52","name":"get sensor values from sensors","func":"if(!context.global.temp)\n    return null;\nmsg.payload.timestamp = new Date();\n// temp\ncontext.global.tempIn = msg.payload.tempIn = context.global.temp.value();\ncontext.global.tempOut = msg.payload.tempOut = Math.round(msg.payload.tempc);\n\n// air\n//var air = new context.global.mraa.Aio(1);\ncontext.global.airQ = msg.payload.airQ = context.global.air.read();\nconsole.log(\"airQ: \" + msg.payload.airQ + \", tempIn: \" + msg.payload.tempIn + \", tempOut: \" + msg.payload.tempOut);\n\n//var serialized = \"\";\n\n//serialized = msg.payload.tempIn;  // inside temperature\n//serialized += \";\" +  msg.payload.tempOut;// outside temperature\n//serialized += \";\" + msg.payload.air; // air quality\n//serialized += \";\" + msg.data.weather[0].icon; // outside temperature\n\nmsg.payload.icon = context.global.icon = msg.data.weather[0].icon;\n\nreturn msg;","outputs":"1","noerr":0,"x":593,"y":149,"wires":[["d3677424.2c9888"]]},{"id":"ba812160.457ee","type":"inject","z":"f72ae0e1.08d52","name":"Interval","topic":"","payload":"","payloadType":"date","repeat":"30","crontab":"","once":true,"x":156,"y":149,"wires":[["215120d4.deaee"]]},{"id":"d3677424.2c9888","type":"http request","z":"f72ae0e1.08d52","name":"store sensor value","method":"POST","ret":"obj","url":"http://10.42.0.1:8080/SensorValue","x":879,"y":149,"wires":[[]]},{"id":"c1f5f49a.3e0a08","type":"function","z":"f72ae0e1.08d52","name":"Init","func":"context.global.chatId = -1;\ncontext.global.userId = -1;\ncontext.global.keyboard = {}\ncontext.global.keyboard.pendingFeedback = false;\ncontext.global.keyboard.pendingAirQualityRecommendation = false;\ncontext.global.keyboard.pendingTempRecommendation = false;\ncontext.global.tempIn = null;\ncontext.global.tempOut = null;\ncontext.global.airQ = null;\ncontext.global.icon = null;\n\ncontext.global.temp = new context.global.grove.GroveTemp(0); \ncontext.global.air = new context.global.mraa.Aio(1);\n\n\nvar m = (new Date(msg.payload)).getMonth();\nif( m >= 3 && m <= 8){\n    context.global.summer = 1;\n}else{\n    context.global.summer = 0;\n}","outputs":1,"noerr":0,"x":317,"y":98,"wires":[[]]},{"id":"183ce2e9.e7c31d","type":"inject","z":"f72ae0e1.08d52","name":"Init","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":157,"y":98,"wires":[["c1f5f49a.3e0a08"]]},{"id":"2ff2520f.d00dae","type":"telegram receiver","z":"f72ae0e1.08d52","name":"","bot":"aab2a3eb.554d6","x":148.75,"y":486.75,"wires":[["73268.fff8cd98"]]},{"id":"1e428811.e1bd78","type":"telegram sender","z":"f72ae0e1.08d52","name":"","bot":"aab2a3eb.554d6","x":1126.75,"y":299.75,"wires":[]},{"id":"53f61257.ac09ec","type":"function","z":"f72ae0e1.08d52","name":"Process User's Feeling","func":"var errorFlag = false;\nvar text = msg.payload.content;\nif(text == 'Too cold'){\n\tmsg.payload.content = 'Let me turn on the heater for you.';\n}else if(text == 'Cold'){\n\tmsg.payload.content = 'Let me turn on the heater for you.';\n}else if(text == 'Great'){\n    msg.payload.content = 'Perfect! Would you like me to do anything else?';\n}else if(text == 'Warm'){\n\tmsg.payload.content = 'Let me turn of the heater for you.';\n}else if(text == 'Too warm'){\n\tmsg.payload.content = 'Let me turn on the air conditioner for you.';\n}else{\n    errorFlag = true;\n    msg.payload.content = 'The response is not valid! Please try again.';\n}\ncontext.global.keyboard.pendingFeedback = errorFlag;\nreturn msg;","outputs":1,"noerr":0,"x":867,"y":298.25,"wires":[["1e428811.e1bd78"]]},{"id":"73268.fff8cd98","type":"function","z":"f72ae0e1.08d52","name":"Set Variables","func":"context.global.userId = msg.originalMessage.from.id;\ncontext.global.chatId = msg.payload.chatId;\nreturn msg;","outputs":1,"noerr":0,"x":330.9999771118164,"y":486.9999713897705,"wires":[["d8fb86c.f270478"]]},{"id":"fb4da4f6.04b258","type":"subflow:d813e35f.27ec2","z":"f72ae0e1.08d52","name":"Ask How User is Feeling","x":355.5,"y":238.5,"wires":[]},{"id":"151cb652.eae34a","type":"inject","z":"f72ae0e1.08d52","name":"Interval","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"0 8-23 * * *","once":false,"x":146.5,"y":238.5,"wires":[["fb4da4f6.04b258"]]},{"id":"d8fb86c.f270478","type":"function","z":"f72ae0e1.08d52","name":"Command Analyser","func":"if(context.global.keyboard.pendingFeedback){\n    return [msg, null, null, null, null, null, null, null, null, null];\n}else if(context.global.keyboard.pendingAirQualityRecommendation){\n    return [null, msg, null, null, null, null, null, null, null, null];\n}else if(context.global.keyboard.pendingTempRecommendation){\n    return [null, null, msg, null, null, null, null, null, null, null];\n}else if(msg.payload.content == '/stats'){\n    return [null, null, null, msg, null, null, null, null, null, null];\n}else if(msg.payload.content == '/info'){\n    return [null, null, null, null, msg, null, null, null, null, null];\n}else if(msg.payload.content == '/help'){\n    return [null, null, null, null, null, msg, null, null, null, null];\n}else if(msg.payload.content == '/start'){\n    return [null, null, null, null, null, null, null, msg, null, null];\n}else if(msg.payload.content == '/stop'){\n    return [null, null, null, null, null, null, null, null, msg, null];\n}else if(msg.payload.content == '/feedback'){\n    return [null, null, null, null, null, null, null, null, null, msg];\n}else{\n    return [null, null, null, null, null, null, msg, null, null, null];\n}","outputs":"10","noerr":0,"x":525.5,"y":486.5,"wires":[["53f61257.ac09ec"],["69d9418.f9626c"],["620b0840.9df4f8"],["1f45a40b.e0ba5c"],["9d65d307.629a3"],["9cd2f05a.632d1"],["33f2b3c8.cc0d4c"],["5ff9323b.a006cc"],["9b7e5fd.f6481a"],["fb4da4f6.04b258"]]},{"id":"1f45a40b.e0ba5c","type":"function","z":"f72ae0e1.08d52","name":"Stats","func":"var val = context.global.icon;\nvar outsideEmo;\nif(val == \"01d\"){\n\toutsideEmo = '\\xE2\\x98\\x80';\n}else if(val == \"01n\"){\n\toutsideEmo = '\\xE2\\x98\\x80';\n}else if(val == \"02d\" || val == \"04d\"){\n\toutsideEmo = '\\xE2\\x98\\x81';\n}else if(val == \"02n\" || val == \"04n\"){\n\toutsideEmo = '\\xE2\\x98\\x81';\n}else if(val == \"03d\" || val == \"03n\"){\n\toutsideEmo = '\\xE2\\x98\\x81';\n}else if(val == \"09d\" || val == \"09n\" || val == \"10d\" || val == \"10n\"){\n\toutsideEmo = '\\xE2\\x98\\x94'\n}else if(val == \"11d\" || val == \"11n\"){\n\toutsideEmo = '\\xE2\\x98\\x94'\n}else if(val == \"13d\" || val == \"13n\"){\n\toutsideEmo = '\\xE2\\x9D\\x84';\n}else if(val == \"50d\"){\n\toutsideEmo = '\\xF0\\x9F\\x8C\\x81';\n}else if(val == \"50n\"){\n\toutsideEmo = '\\xF0\\x9F\\x8C\\x81';\n}else{\n\toutsideEmo = '\\xE2\\x98\\x80';\n}\nvar airQ = context.global.airQ;\nvar gasEmo = (airQ > 150)?'\\xF0\\x9F\\x91\\x8E':'\\xF0\\x9F\\x91\\x8D';\n\nmsg.payload.content = 'Outside temperature:';\nmsg.payload.content += context.global.tempOut + ' degrees' + outsideEmo;\nmsg.payload.content += '\\nInside temperature:';\nmsg.payload.content += context.global.tempIn + ' degrees';\nmsg.payload.content += '\\nAir Quality:';\nmsg.payload.content += airQ + gasEmo;\n\nmsg.payload.content = context.global.utf8.decode(msg.payload.content);\n\nreturn msg;","outputs":1,"noerr":0,"x":853.4999771118164,"y":494.4999713897705,"wires":[["11eed26a.ee112e"]]},{"id":"9d65d307.629a3","type":"function","z":"f72ae0e1.08d52","name":"Info","func":"msg.payload.content = 'This bot is a product of a smarter home system.';\nreturn msg;","outputs":1,"noerr":0,"x":855.4999771118164,"y":551.4999713897705,"wires":[["229373b0.dd6c8c"]]},{"id":"9cd2f05a.632d1","type":"function","z":"f72ae0e1.08d52","name":"Help","func":"msg.payload.content = 'Possible Commands are \\n';\nmsg.payload.content += '\\t/start : Starts the system/\\n';\nmsg.payload.content += '\\t/stats : Shows the current values from sensors.\\n';\nmsg.payload.content += '\\t/info : Displays the information of bot.\\n';\nmsg.payload.content += '\\t/help : Help.\\n';\nreturn msg;","outputs":1,"noerr":0,"x":855.4999771118164,"y":606.4999713897705,"wires":[["6c82470d.937db8"]]},{"id":"33f2b3c8.cc0d4c","type":"function","z":"f72ae0e1.08d52","name":"Plain Text","func":"var text = msg.payload.content;\nvar opts = {\n\treply_markup: JSON.stringify({\n\tkeyboard : [\n\t\t['It\\'s cold', 'It\\'s hot'], \n\t\t['Ventilation on', 'Ventilation off'],\n\t\t['Air conditioner on', 'Air conditioner off'],\n\t\t['Heater on', 'Heater off']\n\t],\n\t'resize_keyboard' : true, \n\t'one_time_keyboard' : true\n  })\n};\nvar flag = false;\nif(text == 'Too cold'){\n\tmsg.payload.content = 'Let me turn on the heater for you.';\n}else if(text == 'Too cold' || text == 'Cold' || text == 'It\\'s cold'){\n\tmsg.payload.content = 'Let me turn on the heater for you.';\n}else if(text == 'Great'){\n\tmsg.payload.content = 'Perfect! Would you like me to do anything else?';\n}else if(text == 'Warm' || text == 'Too warm' || text == 'It\\'s hot'){\n\tmsg.payload.content = 'Let me turn off the heater for you.';\n}else if(text == 'Turn on ventilation' || text == 'Ventilation on'){\n\tmsg.payload.content = 'Turning on ventilation.';\n}else if(text == 'Turn off ventilation' || text == 'Ventilation off'){\n\tmsg.payload.content = 'Turning off ventilation.';\n}else if(text == 'Turn on heater' || text == 'Heater on'){\n\tmsg.payload.content = 'Turning on heater.';\n}else if(text == 'Turn off heater' || text == 'Heater off'){\n\tmsg.payload.content = 'Turning off heater.';\n}else if(text == 'Turn on air conditioner' || text == 'Air conditioner on'){\n\tmsg.payload.content = 'Turning on air conditioner.';\n}else if(text == 'Turn off air conditioner' || text == 'Air conditioner off'){\n\tmsg.payload.content = 'Turning off air conditioner.';\n}else if(text == 'Open the window'){\n\tmsg.payload.content = 'Opening window.';\n}else if(text == 'No action'){\n\tmsg.payload.content = 'No action is taken';\n}else if(text == '/start'){\n\tflag = true;\n}else if(text == '/feedback'){\n\tflag = true;\n}else{\n\tmsg.payload.content = 'Sorry boss. I am not able to do it :(';\n}\nif(!flag){\n\tmsg.payload.options = opts;\n\treturn  msg ;\n}else {\n\treturn null;\n}\n","outputs":1,"noerr":0,"x":852.4999771118164,"y":655.4999713897705,"wires":[["fe2ce4e8.01d318"]]},{"id":"11eed26a.ee112e","type":"telegram sender","z":"f72ae0e1.08d52","name":"","bot":"aab2a3eb.554d6","x":1125.4999771118164,"y":494.4999713897705,"wires":[]},{"id":"229373b0.dd6c8c","type":"telegram sender","z":"f72ae0e1.08d52","name":"","bot":"aab2a3eb.554d6","x":1126.4999771118164,"y":551.4999713897705,"wires":[]},{"id":"6c82470d.937db8","type":"telegram sender","z":"f72ae0e1.08d52","name":"","bot":"aab2a3eb.554d6","x":1125.4999771118164,"y":607.4999713897705,"wires":[]},{"id":"fe2ce4e8.01d318","type":"telegram sender","z":"f72ae0e1.08d52","name":"","bot":"aab2a3eb.554d6","x":1124.4999771118164,"y":655.4999713897705,"wires":[]},{"id":"5ff9323b.a006cc","type":"function","z":"f72ae0e1.08d52","name":"Start","func":"var opts = {\n\treply_markup: JSON.stringify({\n\tkeyboard : [\n\t\t['It\\'s cold', 'It\\'s hot'], \n\t\t['Ventilation on', 'Ventilation off'],\n\t\t['Air conditioner on', 'Air conditioner off'],\n\t\t['Heater on', 'Heater off']\n\t],\n\t'resize_keyboard' : true, \n\t'one_time_keyboard' : true\n  })\n};\nmsg.payload.options = opts;\nmsg.payload.content = 'Hi boss, what can I do for you?';\nreturn msg;","outputs":1,"noerr":0,"x":855.5,"y":707.5,"wires":[["418f71c.fbe709"]]},{"id":"418f71c.fbe709","type":"telegram sender","z":"f72ae0e1.08d52","name":"","bot":"aab2a3eb.554d6","x":1122.4999771118164,"y":704.4999713897705,"wires":[]},{"id":"98bc2718.6743d8","type":"inject","z":"f72ae0e1.08d52","name":"Interval","topic":"","payload":"","payloadType":"str","repeat":"10","crontab":"","once":true,"x":143.5,"y":291.5,"wires":[["32b65572.cd49aa"]]},{"id":"32b65572.cd49aa","type":"subflow:22e8d6fa.dd172a","z":"f72ae0e1.08d52","name":"Air Quality Recommendation","x":345.5,"y":291.5,"wires":[]},{"id":"69d9418.f9626c","type":"function","z":"f72ae0e1.08d52","name":"Process A-Q Recommendation","func":"var errorFlag = false;\nvar text = msg.payload.content;\nif(text == 'Turn on ventilation'){\n\tmsg.payload.content = 'Turning on ventilation.';\n}else if(text == 'Open the window'){\n\tmsg.payload.content = 'Opening window.';\n}else if(text == 'No action'){\n    msg.payload.content = 'No action is taken';\n}else{\n    errorFlag = true;\n    msg.payload.content = 'The response is not valid! Please try again.';\n}\ncontext.global.keyboard.pendingAirQualityRecommendation = errorFlag;\nreturn msg;","outputs":1,"noerr":0,"x":870.5,"y":361.5,"wires":[["edd2e281.122d2"]]},{"id":"edd2e281.122d2","type":"telegram sender","z":"f72ae0e1.08d52","name":"","bot":"aab2a3eb.554d6","x":1125.5,"y":361.5,"wires":[]},{"id":"9bae24ca.6451d8","type":"inject","z":"f72ae0e1.08d52","name":"Interval","topic":"","payload":"","payloadType":"str","repeat":"20","crontab":"","once":true,"x":143.5,"y":341.5,"wires":[["a55f5022.5aa0b"]]},{"id":"a55f5022.5aa0b","type":"subflow:49fb9358.b6046c","z":"f72ae0e1.08d52","name":"","x":346,"y":342.5,"wires":[]},{"id":"620b0840.9df4f8","type":"function","z":"f72ae0e1.08d52","name":"Process Temp Recommendation","func":"var errorFlag = false;\nvar text = msg.payload.content;\nif(text == 'Turn on heater'){\n\tmsg.payload.content = 'Turning on heater.';\n}else if(text == 'Turn on air conditioner'){\n\tmsg.payload.content = 'Turning on air conditioner.';\n}else if(text == 'Open the window'){\n\tmsg.payload.content = 'Opening window.';\n}else if(text == 'No action'){\n    msg.payload.content = 'No action';\n}else{\n    errorFlag = true;\n    msg.payload.content = 'The response is not valid! Please try again.';\n}\nglobal.set(\"keyboard\", { pendingTempRecommendation : errorFlag });\nreturn msg;","outputs":1,"noerr":0,"x":881.4999771118164,"y":414.4999713897705,"wires":[["e43464b9.1bcb98"]]},{"id":"e43464b9.1bcb98","type":"telegram sender","z":"f72ae0e1.08d52","name":"","bot":"aab2a3eb.554d6","x":1128.4999771118164,"y":414.4999713897705,"wires":[]},{"id":"215120d4.deaee","type":"openweathermap","z":"f72ae0e1.08d52","name":"","lon":"","lat":"","city":"munich","country":"germany","x":332,"y":148.888916015625,"wires":[["4417839.fbbe87c"]]},{"id":"c0c3e832.3f3c18","type":"catch","z":"f72ae0e1.08d52","name":"","scope":null,"x":203,"y":666,"wires":[["e3c700f4.1c39"]]},{"id":"e3c700f4.1c39","type":"debug","z":"f72ae0e1.08d52","name":"","active":true,"console":"true","complete":"true","x":363,"y":662,"wires":[]},{"id":"9b7e5fd.f6481a","type":"function","z":"f72ae0e1.08d52","name":"Stop","func":"context.global.chatId = -1;\ncontext.global.userId = -1;\ncontext.global.keyboard = {}\ncontext.global.keyboard.pendingFeedback = false;\ncontext.global.keyboard.pendingAirQualityRecommendation = false;\ncontext.global.keyboard.pendingTempRecommendation = false;\ncontext.global.tempIn = null;\ncontext.global.tempOut = null;\ncontext.global.airQ = null;\ncontext.global.icon = null;","outputs":"0","noerr":0,"x":855,"y":762,"wires":[]}]